<div class="mockup-content" ng-show="!isConnected">
    <div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
        <button type="button"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign in</a></button>
        <div class="morph-content">
            <div>
                <div class="content-style-form content-style-form-1">
                    <span class="icon-close"><i class="fa fa-times"></i></span>
                    <h2>{{titleLogin}}</h2>
                    <form>
                        <p><label>Email</label><input type="text" ng-model="model.email" autofocus></p>
                        <p><label>Password</label><input type="password" ng-model="model.password"></p>
                        <p><button ng-click="login()" class="sign-in-button">{{titleLogin}}</button></p>
                        <p><button ng-click="create()" class="sign-in-button">{{titleCreate}}</button></p>
                        <p><div class="error-message" ng-show="error">{{error.reason}}</div></p>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- morph-button -->
</div>

<div ng-show="isConnected" class="dropdown">
    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span ng-show="isConnected">{{$root.currentUser.username}}</span>
        <span ng-show="!isConnected">Profile</span> 
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-show="edit"><a ng-click="edit()">Edit</a></li>
        <li ng-show="edit" role="separator" class="divider"></li>
        <li ng-show="logout"><a ng-click="logout()">Logout</a></li>
    </ul>
</div>