/* CSS declarations go here */
body{
    padding-top: 60px;
    margin-bottom: 1px;
    background-color: rgba(43, 71, 84, 0.17);
}

.login{
    margin-bottom: 40px;
}

/* Connection Banner style */

#connection-lost-banner + .navbar-fixed-top,
#connection-try-reconnect + .navbar-fixed-top {
    top: 41px;
}
.navbar-fixed-top + #connection-lost-banner,
.navbar-fixed-top + #connection-try-reconnect {
    top: 51px;
}