*:focus {
    outline: none;
}

/* Light */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("font/roboto/RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("font/roboto/RobotoCondensed-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("font/roboto/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("font/roboto/RobotoCondensed-Italic.ttf") format('truetype');
}

/* Bold */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("font/roboto/RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("font/roboto/RobotoCondensed-BoldItalic.ttf") format('truetype');
}


html {
    overflow: hidden;
}

body{
    margin-bottom: 1px;
    height:100%;
    width: 100%;
    color: white;
    font-size: 16px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    /*background: rgba(20, 162, 162, 0.6);*/
    /*background: rgba(158, 143, 68, 0.75);*/
    /*background: #2E9C9C;*/
}

a{
    color: white;
    text-decoration: none;
    outline: none;
}

h2{
    color: white;
}

.hlp-bcol{
    /*background-color: #49819C;*/
    background-color: rgba(27, 64, 103, 0.92);
    /*background-color: #2E9C9C;*/
}

.app-view{
    height: 100%;
    width: 100%;
}

.login{
    margin-bottom: 40px;
}

.btn {
    color: #fff;
    background-color: #257D7D;
    border-color: #548984;
}



/* Debugging */
.st-content{
    /*overflow-y: hidden !important;*/
}
.st-menu{
    /*width: 50% !important;*/
    width: 450px !important;
}







.st-menu h2 {
    margin: 0;
    padding: 12px;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
}




/* Connection Banner style */
#connection-lost-banner + .navbar-fixed-top,
#connection-try-reconnect + .navbar-fixed-top {
    top: 41px;
}
.navbar-fixed-top + #connection-lost-banner,
.navbar-fixed-top + #connection-try-reconnect {
    top: 51px;
}

.login-template {
    float: right;
    margin-right: 20px;
}

.notification-view {
    z-index: 4;
    height: 25px;
    position: absolute;
    top: 57px;
    right: 48px;
}

.menu-toggler-profile {
    position: fixed;
    padding: 9px;
    height: 40px;
    /*background: rgba(30, 127, 128, 0.82);*/
    background: rgba(14, 72, 59, 0.82);
    top: 130px;
    left: 301px;
    visibility: visible;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 30px;
}

.menu-toggler-search {
    position: fixed;
    padding: 9px;
    height: 40px;
    background: rgba(9, 60, 144, 0.72);
    top: 180px;
    left: 301px;
    visibility: visible;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 30px;
}
.menu-toggler-search:hover, .menu-toggler-profile:hover {
    cursor: pointer;
}

.header-view{
    position: absolute;
    width: 100%;
    z-index: 2;
}

.side-left-view {

}

.content-view {
    height: 100%;
    width: 100%;
}

.footer-view {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}


.sign-in-container{
    padding: 10px;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: rgba(86, 139, 148, 0.85);
    border: 1px dashed;
}

.sign-in-button{
    margin-top:13px;
}

.france-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jqvmap-label {
    position: absolute;
    z-index: 99;
    color: white;
}

.angular-google-map {
    position: relative;
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    bottom: 18px;
}

.map-bubble-container {
    position: absolute;
    left: calc(50% - 252px);
    right: calc(50% - 252px);
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 42px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    top: calc(50% - 262px);
    bottom: calc(50% - 262px);
    height: 504px;
    width: 504px;
}

.map-bubble-container h1 {
    font-size: 1em;
}

.map-bubble-container h1 span {
    font-weight: 200;
}

.map-bubble-container p {
    font-family: Cambria, Georgia, serif;
    font-style: italic;
}

.drop-box {
    background: #F8F8F8;
    border: 2px dashed rgba(34, 107, 119, 0.52);
    height: 70px;
    text-align: center;
    padding-top: 10px;
    color: #59325A;
    font-size: x-small;
    margin-top: 10px;
    margin: 38px;
    font-size: 12px;
    ursor: pointer;
}
 
.drop-box.dragover {
    border: 2px dashed rgba(34, 107, 119, 1);
}
 
.drop-box.dragover-err {
    border: 2px dashed red;
}

.drop-box-title{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}
 
.uploaded-image {
    max-height: 100px;
    max-width: 200px;
}

.ng-crop-container {
    height: 190px;
    overflow: hidden;
}
 
.images-container-title {
    padding-bottom: 30px;
}
 
.profile-image-container {
    position: relative;
    margin-right: 10px;
    max-height: 200px;
    max-width: 200px;
}
 
.main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
}

.profile-image-header-default {
    border-radius: 50%;
    height: 42px;
    top: 4px;
    position: absolute;
    right: 11px;
}

.profile-image-header {
    border-radius: 50%;
    height: 45px;
    top: 2px;
    position: absolute;
    right: 11px;
}

.profile-image-header:hover, .profile-image-header-default:hover {
    cursor:pointer;

}

.profile-image {
    border-radius: 50%;
    width: 60px;
    margin: 4px;
}

.photo-preview {
    margin-top: 14px;
    margin-bottom: 15px;
    width: 280px !important;
}

.img-crop{
    width: 300px !important;
    height: 224px !important;
}

.icon-action-container{
    display: table;
    margin: 0 auto;
}

.icon-action{
    margin: 10px;
}

.fa-floppy-o:hover, .fa-camera:hover, .fa-remove:hover {
    color: black;
    cursor: pointer;
}

.fa-heart {
    color: red;
}

.fa-heart-o:hover {
    color: red;
    cursor: pointer;
}

.table-font{
    color: #2C6D7D;
}

.table-lookups{
    height: 300px;
    margin-bottom: 50px;
    overflow-y: scroll;
    justify-content: center;
    display: flex;
}

.side-left-profile{
    /*background-color: rgba(28, 136, 136, 0.91);
    background-color: rgba(15, 29, 26, 0.91);
    background: rgba(160, 160, 160, 0.35);
    background: rgba(4, 100, 167, 0.25);*/
    /*background: rgba(38, 44, 47, 0.25);*/
    background: rgba(38, 44, 47, 0.6);
    height: 100%;
    font-size: 14px;
    width:300px !important;
    position: absolute;
}

.side-left-search{
    /*background-color: rgba(42, 106, 150, 0.81);*/
    /*background: rgba(4, 100, 167, 0.25);*/
    /*background-color: rgb(157, 185, 214);*/
    background-color: rgba(27, 64, 103, 0.92);
    height: 100%;
}

.side-left-event{
    /*background-color: rgba(42, 106, 150, 0.81);*/
    background: rgba(4, 100, 167, 0.25);
    height: 100%;
}





.ui-anim-fade.ng-hide {
    transition:0.5s linear all;
    opacity:0;
}

.ui-anim-fade.ng-show {
    transition:0.5s linear all;
    opacity:1;
}


.ui-anim-fade {
    transition:0.5s linear all;
    opacity:1;
}

.ui-anim-fade.ng-enter {
    opacity:0;
}

.ui-anim-fade.ng-leave.ng-leave-active {
    opacity:0;
}

.ui-anim-fade.ng-enter.ng-enter-active {
    opacity:1;
}

.list-profile{
    width:50px;
}

.dropdown-menu-profile{
    top: 50px;
}

.dropdown-toggle-profile{
    background-color: #222222 !important;
    width: 65px;
}

.map-style-edit-container{

}

.map-style-edit{
    margin: 12px 10px;
}

.map-style-edit:hover, .map-style-edit:hover .cbutton__icon{
    cursor: pointer;
    color: #139787;
}

.map-style-edit-label{
    margin-left:8px;
}

.map-style-edit-label-selected{
    margin-left:8px;
    color: #139787;
}


.button-change-password:hover .fa {
    color: inherit;
    cursor: inherit;
}

.admin-container{
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    height: calc(100% - 91px);
    width: 100%;
}

.error-message{
    color: #EA6464;
}

.st-header{
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -ms-justify-content:space-between;
    -o-justify-content:space-between;
    justify-content:space-between;
    -moz-box-shadow: 1px 1px 5px 2px #545454;
    -webkit-box-shadow: 1px 1px 5px 2px #545454;
    -o-box-shadow: 1px 1px 5px 2px #545454;
    box-shadow: 1px 1px 5px 2px #545454;
}

.st-header-burger{
    -webkit-box-flex: 1;
    -webkit-flex: 0 1 70px;
    -ms-flex: 0 1 70px;
    flex: 0 1 70px;
    max-height: 50px;
    max-width: 70px;
    overflow: hidden;
}
.st-header-burger-img{
    height: 50px;
    max-height: 50px;
    max-width: 50px;
    background: white;
}
.st-header-logo{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height: 50px;
    overflow: hidden;
    text-align: center;
    color: white;
}
.st-header-logo-link:hover .st-header-logo-img{
    background: white;
}
.st-header-logo-link:hover .st-header-logo-title{
    color: white;
}
.st-header-logo-img{
    height: 42px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 50%;
}
.st-header-logo-title{
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 900;
    vertical-align: 12px;
}
.st-header-menu{
    -webkit-box-flex: 1;
    -webkit-flex: 0 1 250px;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
    max-height: 50px;
    max-width: 250px;
    overflow: hidden;
}
.st-header-login{
    -webkit-box-flex: 1;
    -webkit-flex: 0 1 70px;
    -ms-flex: 0 1 70px;
    flex: 0 1 70px;

    max-height: 50px;
    max-width: 70px;
    overflow: hidden;
}

#nav-toggle span {
    position: absolute;
    left: 6px;
    top: 20px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

.st-navbar-toggle{
    position: relative;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    width: 38px;
    height: 35px;
    border: 1px solid grey;
    padding-top: 5px;
    margin-left: 11px;
}

.st-navbar-only{

}

.st-navbar-icon-bar{
    background-color: #fff;
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
}

.st-footer{
    height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -ms-justify-content:center;
    -o-justify-content:center;
    justify-content:center;
    -moz-box-shadow: 0px -4px 7px 0px #545454;
    -webkit-box-shadow: 0px -4px 7px 0px #545454;
    -o-box-shadow: 0px -4px 7px 0px #545454;
    box-shadow: 0px -4px 7px 0px #545454;
}
.st-footer-about{
    -webkit-box-flex: 1;
    -webkit-flex: 0 1 100px;
    -ms-flex: 0 1 100px;
    flex: 0 1 100px;
    text-align: center;
}
.st-footer-contact{
    -webkit-box-flex: 1;
    -webkit-flex: 0 1 100px;
    -ms-flex: 0 1 100px;
    flex: 0 1 100px;
    text-align: center;
}

.st-left-menu-header{
    height: 50px;
    -moz-box-shadow: -1px 2px 5px 0px rgba(26, 47, 86, 0.71);
    -webkit-box-shadow: -1px 2px 5px 0px rgba(26, 47, 86, 0.71);
    -o-box-shadow: -1px 2px 5px 0px rgba(26, 47, 86, 0.71);
    box-shadow: -1px 2px 5px 0px rgba(26, 47, 86, 0.71);
}

.st-left-menu-content{
    height: calc(100% - 92px);
    overflow-y: auto;
    width: 100%;
    position: absolute;
}

.st-left-menu-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
    background: rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 5px 0px rgba(26, 47, 86, 0.71);
    -webkit-box-shadow: -1px 2px 5px 0px rgba(26, 47, 86, 0.71);
    -o-box-shadow: -1px 2px 5px 0px rgba(26, 47, 86, 0.71);
    box-shadow: -1px -2px 5px 0px rgba(26, 47, 86, 0.71);
}

.anim-button{
    margin: 0 1px 0px 1px !important;
    height: 40px !important;
    min-width: 58px !important;
    font-size: 18px;
    background: rgba(15, 107, 98, 0.68);
}

.anim-button-border-thin{
    border: 1px solid rgba(255, 255, 255, 0.28);
}

.fa-sign-in{
    font-size: 26px;
}




.form-group label, .form-group input{
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 8px;
}

.form-profile{
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 100%;
    font-weight: 500;
}
.form-profile .form-group label{
    width: 70px;
}
.form-profile .form-group input{
    width: 180px;
}
.form-event{
    margin-left: 21px;
}
.form-event .form-group label{
    width: 70px;
}
.form-event .form-group input{
    width: 180px;
}
.form-event .form-group .form-textarea{
    width: 253px;
}
.form-event .form-action{
    width: 253px;
}

.form-title{
    margin: 12px;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 12px;
    margin-bottom: 25px;
}
.form-action{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -ms-justify-content:center;
    -o-justify-content:center;
    justify-content:center;
}

.profile-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 30px;
}

textarea{
    font-size: 1em;
    font-family: "Open Sans";
    font-weight: 300;
}


.event-filter-content{
    margin : 21px;
}

.event-filter-content input{
    width: 200px;
}

.event-filter-content .category-input-search input{
    margin-left: 70px;
}

.event-filter-content .search-button{
    margin-left: 35px;
}

.event-filter-content .search-button button{
    width: 35px;
    height: 35px;
    background-color: rgba(105, 166, 209, 0.69);
    border-radius: 50%;
    border: dashed 1px #3896BD;
}

.event-filter-content .search-button button:hover{
    background-color: #3896BD;
}

.event-filter-content .search-button i:hover{
    color: inherit !important;
}

.event-filter-content input{
    border: none;
    border-bottom: 1px solid #757575;
    background-color: #274A6D;
    text-align: center;
    color: white;
}



/* Anim-Tansition css override */
.pageload-overlay {
    height: calc(100% - 85px) !important;
}
.pageload-overlay svg {
    top: 50px !important;
}

.email{
    width:180px;
    vertical-align: -3px;
}


.ellipsis{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:inline-block;
}

input {
    background: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
    background-clip: content-box;
}
