/* CSS declarations go here */
html {
/*    height:96%;*/
    overflow: hidden;
}

body{
    /*padding-top: 51px;*/
    margin-bottom: 1px;
    /*background-color: #f3efe0;sable*/
    /*background-color: #696764;*/
    /*background-color: #FFFFFF;*/
    background-color: #E0EFEF;
    height:100%;
    color: #5F4040;
    font-size: 137%;
}

.app-view{
    height: 100%;
/*    overflow: auto;*/
}

.login{
    margin-bottom: 40px;
}

.st-content-inner{
    margin-top: 51px;
}

/* Connection Banner style */

#connection-lost-banner + .navbar-fixed-top,
#connection-try-reconnect + .navbar-fixed-top {
    top: 41px;
}
.navbar-fixed-top + #connection-lost-banner,
.navbar-fixed-top + #connection-try-reconnect {
    top: 51px;
}

.login-template {
    float: right;
    margin-right: 20px;
}

.notification-view {
    border: 1px black dashed;
    /*height: 30px;*/
    /*margin-top: 51px;*/
}

.menu-toggler {
    position: fixed;
    padding: 5px;
    height: 400px;
    /*background: rgba(28, 136, 136, 0.51);*/
    background: rgba(30, 127, 128, 0.82);
    top: 16%;
    left: 300px;
    visibility: visible;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.side-left-view {

}

.content-view {
    /*border: 1px black dashed;*/
    /*height: 97%;*/
    width: 100%;
    margin-top: 5px;
}

.footer-view {
    background-color: #222;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.sign-in-container{
    padding: 10px;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: rgba(86, 139, 148, 0.85);
    border: 1px dashed;
}

.sign-in-button{
    margin-top:13px;
}

.france-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jqvmap-label {
    position: absolute;
}

.angular-google-map-container {
    /*height: 400px;*/
    /*width: 800px;*/
}

.angular-google-map {
    position: relative;
    padding-bottom: 50%; /* aspectratio 3:2 */
    height: 0;
    overflow: hidden;
}
.angular-google-map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}