* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.map-bubble-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 42px;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin: 20px 0 0 -242px;
    text-align: center;
    overflow: hidden;
}

.map-bubble-container h1 {
    font-size: 0.7em;
}

.map-bubble-container h1 span {
    font-weight: 100;
}

.map-bubble-container p {
    font-family: Cambria, Georgia, serif;
    font-style: italic;
}