<div>
    <h2 class="icon icon-lab">Rechercher</h2>
    <div ng-repeat="cat in categories">
        <div class="{{getCategoryClass(cat)}}">{{cat.name}}</div>
    </div>
</div>
<div class="st-left-menu-footer">
    <div class="profile-box">
        <anim-button anim-button-icon="fa-search" anim-button-callback="goTo('app.main.events.search.byProfile')" anim-button-type="ujarak"></anim-button>
        <anim-button anim-button-icon="fa-life-ring" anim-button-callback="goTo('app.main.events.search.myEvents')" anim-button-type="ujarak" ng-if="isConnected()"></anim-button>
        <anim-button anim-button-icon="fa-plus-circle" anim-button-callback="goTo('app.main.events.search.myEvents')" anim-button-type="ujarak" ng-if="isConnected()"></anim-button>
    </div>
</div>