<div>
    <h2 class="icon icon-lab">Event edit</h2>
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="event.name" disabled>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Description" ng-model="event.description" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" id="longitude" placeholder="Longitude" ng-model="event.location.longitude" disabled>
                    <input type="text" class="form-control" id="latitude" placeholder="Latitude" ng-model="event.location.latitude" disabled>
                </div>
                <div class="form-group">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" id="department" placeholder="Department" ng-model="event.department.code" disabled>
                </div>
                <div class="form-group">
                    <label for="categories">Categories</label>
                    <input type="text" class="form-control" id="categories" placeholder="Categories" ng-model="event.categories">
                </div>
                <button type="submit" class="btn btn-default" ng-click="update(event)" ng-disabled="!hasChanged()">Update</button>
                <button type="submit" class="btn btn-default" ng-click="remove(event)" >Delete</button>
                <button class="btn btn-default" ng-click="close()" >Close</button>
            </form>
        </div>
    </div>
</div>
