<div class="category-selector-row animate-repeat" ng-repeat="cat in model.categoriesSelected | orderBy: 'order' track by cat.code">
    <div class="category-icon-selected" ng-style="getStyle(cat)"></div>
    <div>{{cat.name}}</div>
    <div anim-star callback="setRating" callback-arguments="cat" current-rating="getRating(cat)">rating</div>
    <div><span class="cat-close" ng-click="removeCategory(cat)"><i class="fa fa-times"></i></span></div>
</div>
<div class="category-input-separator">------</div>
<div class="category-input-filter">
    <input type="text" ng-change="filterCategories(model.filterTerm)" ng-model="model.filterTerm" placeholder="Filtre (ex): apprendre le surf">
</div>
<div class="category-card-container">
    <div class="animate-repeat {{cat.root ? 'category-card-root' : 'category-card'}}"
         ng-repeat="cat in model.categoriesDisplayed track by cat.code"
         ng-click="addCategory(cat)"
         ng-style="getStyle(cat)">{{cat.root ? cat.name : ''}}</div>
</div>
