<div ng-hide="imgSrc" ngf-drop ngf-select
     ngf-change="addImages($files)"
     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
     ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
     ngf-drop-available="dropAvailable">
  <div>Click here to select image</div>
  <div>
    <strong>OR</strong>
  </div>
  <div ng-show="dropAvailable">You can also drop image to here</div>
</div>

<div ng-show="imgSrc" class="ng-crop-container">
    <h4>Adjust your image and save it !</h4><br/>
    <img-crop image="imgSrc" result-image="myCroppedImage" area-type="square"></img-crop>
</div>

<div class="icon-action-container">
    <span class="icon-action"><i class="fa fa-camera" ng-click="camera()" ng-show="!imgSrc"></i></span>
    <span class="icon-action"><i class="fa fa-floppy-o" ng-click="saveCroppedImage()" ng-show="imgSrc"></i></span>
</div>

<div>
    <span ng-repeat="image in images">
        <img class="profile-image" src="{{ image.url()}}"/>
        <i class="fa fa-remove" ng-click="remove(image)"></i>
        <!--<img class="profile-image" ng-src="{{ image.url({store: 'thumbnail'})}}"/><br/>-->
    </span>
</div>

