<div>
    <h2 class="icon icon-lab">Profile Edit</h2>
    <div ng-show="addable() && !imgSrc" ngf-drop ngf-select
         ngf-change="addImages($files)"
         ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
         ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
         ngf-drop-available="dropAvailable">
        <div>Click here to select image</div>
        <div>
            <strong>OR</strong>
        </div>
        <div ng-show="dropAvailable">Drop image here</div>
    </div>

    <div ng-show="imgSrc" class="ng-crop-container">
        <h4>Adjust your image and save it !</h4><br/>
        <img-crop image="imgSrc" result-image="myCroppedImage" area-type="square"></img-crop>
    </div>

    <div class="icon-action-container" ng-show="addable()">
        <span class="icon-action"><i class="fa fa-camera" ng-click="camera()" ng-show="!imgSrc"></i></span>
        <span class="icon-action"><i class="fa fa-floppy-o" ng-click="saveCroppedImage()" ng-show="imgSrc"></i></span>
    </div>

    <div>
        <span ng-repeat="image in images">
            <div>
                <img class="profile-image" src="{{ image.url()}}"/>
                <i class="fa fa-remove" ng-click="remove(image)"></i>
                <i class="fa fa-heart-o" ng-show="!image.favorite" ng-click="setVisible(image)"></i>
                <i class="fa fa-heart" ng-show="image.favorite"></i>
                <!--<img class="profile-image" ng-src="{{ image.url({store: 'thumbnail'})}}"/><br/>-->
            </div>
        </span>
    </div>

    <div class="map-style-edit-container">
        <!--<select ng-model="selectedMapStyle" ng-change="setMapStyle()" ng-options="map for map in mapStyles" ></select>-->
        <div class="map-style-edit" ng-repeat="mapStyle in mapStyles" >
            <button class="cbutton cbutton--effect-radomir" ng-click="setMapStyle($event, mapStyle)">
                <i class="cbutton__icon fa fa-circle-o-notch"></i>
            </button>
            <span class="map-style-edit-label{{isSelected(mapStyle)}}">{{mapStyle}}</span>
        </div>
    </div>
</div>


