<div class="menu-toggler" ng-if="isConnected()">
    <a ng-click="toggleSidebar()">Sidebar</a>
</div>
<div ui-view="side-left-event-view" ng-show="isView('event')"></div>
<div ui-view="side-left-profile-view" ng-show="isView('profile')"></div>


<div ng-hide="imgSrc" ngf-drop ngf-select
     ngf-change="addImages($files)"
     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
     ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
     ngf-drop-available="dropAvailable">
  <div>Click here to select image</div>
  <div>
    <strong>OR</strong>
  </div>
  <div ng-show="dropAvailable">You can also drop image to here</div>
  <div>
    <strong>OR</strong>
  </div>
  <div><button ng-click="takePicture()">Take a picture</button></div>
</div>

<div ng-show="imgSrc" class="ng-crop-container">
  <h3>Great! Now edit & crop your image...</h3><br />
  <button ng-click="saveCroppedImage()" ng-disabled="!imgSrc" class="md-primary">Save Image</button>
  <img-crop image="imgSrc" result-image="myCroppedImage" area-type="square"></img-crop>
</div>

<div layout="row" class="images-container-title">
    <div class="party-image-container" ng-repeat="image in images">
      <img ng-src="{{ image.url() }}"/><br/>
    </div>
</div>

