<div class="container">
    <div id="content">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <label>Name</label>
                            <input ng-model="newEvent.name">
                            <label>Description</label>
                            <input ng-model="newEvent.description">
                            <label>Longitude</label>
                            <input ng-model="newEvent.location.longitude">
                            <label>Latitude</label>
                            <input ng-model="newEvent.location.latitude">
                            <label>Region</label>
                            <input ng-model="newEvent.region.id">
                            <button ng-click="create(newEvent)">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>